# 공공데이터포털 API 키 (https://www.data.go.kr)
# 서울교통공사 1~8호선 역사 좌표 및 실시간 도착 정보 API
EXPO_PUBLIC_DATA_API_KEY=

# 서울 열린데이터광장 API 키 (https://data.seoul.go.kr)
# 서울시 지하철 실시간 도착정보 API
EXPO_PUBLIC_SEOUL_DATA_API_KEY=
